@import '@/styles/configs/variables.scss';

.highlight {
	background: linear-gradient(to right, $silver-100, $silver-80);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
