@import '@/styles/configs/variables.scss';

.devicon {
	display: block;
	height: 80px;
	overflow: hidden;
	position: relative;
	width: 80px;

	&__icon, .icon {
		height: 100%;
		object-fit: scale-down;
		position: absolute;
		width: 100%;
	}


}