.error {
	max-width: 640px;
	margin: 80px auto;

	&__peaker {
		margin-bottom: 8px;
	}

	&__title {
		margin-bottom: 24px;
	}

	&__text {
		margin-bottom: 24px;
	}

	@media(max-width: 600px) {

		&__title {
			margin-bottom: 16px;
		}

	}

}
