.contact-form {
	display: grid;
	grid-area: 3 / 3 / 9 / 9;
	grid-gap: 24px;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto auto auto 1fr auto;

	&__input, .input {

		&--50 {
			grid-column: span 1;
		}

		&--100 {
			grid-column: span 2;
		}

	}

}