@import '@/styles/configs/variables.scss';

.logo {
	display: block;
	height: 64px;
	min-width: 64px;
	overflow: hidden;
	position: relative;
	width: 64px;

	&__background {
		background-color: $grey-40;
		border-radius: 50%;
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
	}

	&__icon, .icon {
		height: 30px;
		left: 50%;
		object-fit: scale-down;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 30px;
	}

}