@import '@/styles/configs/variables.scss';

.music-player {
	display: flex;
	flex-direction: column;
	grid-column: span 4;
	grid-row: span 3;

	&__title {
		margin-bottom: 24px;
	}

	&__visualizer-wrapper {
		border: 1px solid $grey-40;
		border-radius: 4px;
		height: 240px;
		min-height: 240px;
		margin-bottom: 24px;
		overflow: hidden;
		width: 100%;

		canvas {
			height: 100%;
			width: 100%;
		}

	}

	&__audio {
		display: none;
	}

	&__details, .details {
		align-items: center;
		display: flex;

		&__controller, .controller {
			background-color: $black-100;
			border-radius: 50%;
			cursor: pointer;
			display: grid;
			height: 48px;
			margin-right: 16px;
			place-items: center;
			width: 48px;

			&__icon {
				height: 24px;
			}

		}

	}

	@media(max-width: 1100px) {

		&__visualizer-wrapper {
			height: 560px;
		}

	}

	@media(max-width: 800px) {

		&__visualizer-wrapper {
			height: 240px;
		}

	}

}
