@import '@/styles/configs/variables.scss';

.location {
	grid-column: span 3;
	grid-row: span 2;

	&__kroko, .kroki {
		border-radius: 4px;
		height: 100%;
		overflow: hidden;
		width: 100%;

		&__marker, .marker {

			&__wrapper {
				display: block;
				height: 40px;
				position: relative;
				width: 40px;
			}

			&__dot {
				background-color: $yellow-100;
				border: 2px solid $white-100;
				border-radius: 50%;
				height: 24px;
				position: absolute;
				transform: translate(-50%, -50%);
				width: 24px;
				z-index: 10;
			}

			&__background {
				animation: pulse 4s ease-out infinite;
				background-color: $yellow-100;
				border-radius: 50%;
				height: 40px;
				position: absolute;
				transform: translate(-50%, -50%);
				width: 40px;
			}

		}

	}

}