.social-linkedin {
	grid-column: span 2;
	grid-row: span 1;
	padding: 0 !important;

	&__linkedin-connector {
		height: 100%;
	}

	@media(max-width: 1400px) {
		grid-column: span 2;
	}

	@media(max-width: 1100px) {
		grid-column: span 3;
	}

	@media(max-width: 800px) {
		grid-column: span 2;
	}

}