.hello-works {
	display: flex;
	flex-direction: column;
	grid-area: 5 / 5 / 9 / 8;

	&__title {
		margin-bottom: 8px;
	}

	&__connector {
		align-self: flex-end;
		margin-top: auto;
	}

	@media (max-width: 1300px) {
		grid-area: 4 / 7 / 7 / 10;
	}

}