@import '@/styles/configs/variables.scss';

.hello-introduction {
	display: flex;
	flex-direction: column;
	grid-area: 1 / 1 / 9 / 5;
	height: 100%;
	justify-content: flex-start;

	&__subtitle {
		color: $black-100;
	}

	&__subtitle {
		margin-bottom: 24px;
	}

	&__text {
		margin-bottom: 8px;
	}

	&__actions, .actions {
		margin-top: auto;

		&__item {
			margin-bottom: 16px;

			&:last-child {
				margin-bottom: 0;
			}

		}

	}


	@media (max-width: 1300px) {
		grid-area: 1 / 1 / 9 / 7;
	}

}	

