@import '@/styles/configs/variables.scss';

.site {
	height: 100vh;
	min-height: 100vh;
	overflow: scroll;

	&__container {
		margin: 0 auto;
		max-width: 1800px;
		overflow: hidden;
		padding: 40px 40px 80px 40px;
		width: 100%;
	}

	@media(max-width: 600px) {

		&__container {
			padding: 16px 16px 80px 16px;
		}

	}

}