.tech-stack {
	grid-column: span 12;
	grid-row: span 1;
	place-items: center;

	&__title {
		margin-bottom: 24px;
	}

	&__devicons, .devicons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	@media(max-width: 1400px) {
		grid-column: span 8;
	}

	@media(max-width: 1100px) {
		grid-column: span 6;
	}

	@media(max-width: 800px) {
		grid-column: span 4;
	}

}