@import '@/styles/configs/variables.scss';

.tapper {
	align-items: center;
	display: flex;
	flex-direction: row;
	height: 100%;
	justify-content: center;
	width: 100%;
	overflow: hidden;
	cursor: pointer;
	min-height: 160px;

	&__background {
		align-items: center;
		background-color: $silver-80;
		border-radius: 50%;
		display: flex;
		flex-direction: row;
		height: 80px;
		justify-content: center;
		width: 80px;
		transition: all 0.15s ease;
		position: absolute;
	}

	&__icon, .icon {
		height: 40px;
		width: 40px;
	}

	&:hover {

		.background {
			height: 104px;
			width: 104px;
		}

	}

}