@import '@/styles/configs/variables.scss';

.experiences-past-roles {
	display: flex;
	flex-direction: column;
	grid-column: span 4;
	grid-row: span 4;

	&__header, .header {
		display: flex;
		flex-grow: 1 0;

		&__logo {
			margin-bottom: 24px;
			margin-right: 24px;
		}

		&__metadata, .metadata {
			width: auto;

			&__role {
				margin-bottom: 4px;
			}

			&__company {
				margin-bottom: 4px;
			}

			&__date {
				margin-bottom: 24px;
			}

		}

	}

	&__description {
		margin-bottom: 24px;
	}

	&__connector {
		align-self: end;
		margin-top: auto;
	}

}