.hello-image {
	grid-area: 1 / 5 / 5 / 8;

	&__portrait {
		bottom: 0;
		display: block;
		height: 100%;
		left: 0;
		object-fit: cover;
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
	}

	@media (max-width: 1300px) {
		grid-area: 1 / 7 / 4 / 10;
	}

}