@import '@/styles/configs/variables.scss';

.experiences-current-role {
	display: flex;
	flex-direction: column;
	grid-area: 1 / 5 / 5 / 9;

	&__logo {
		margin-bottom: 24px;
	}

	&__metadata {
		margin-bottom: 24px;
	}

	&__connector {
		align-self: end;
		margin-top: auto;
	}

}