.hello-quote {
	grid-area: 1 / 8 / 3 / 11;

	&__quote {
		margin-bottom: 8px;
		margin-top: 24px;
	}

	&__author {
		text-align: center;
	}

	@media (max-width: 1300px) {
		grid-area: 3 / 10 / 6 / 13;
	}

}