@import '@/styles/configs/variables.scss';

.button {
	background-color: $grey-80;
	border: 1px solid $grey-100;
	border-radius: 4px;
	color: $white-100;
	display: block;
	padding: 16px 16px 12px 16px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;

	&--dark {
		background-color: $grey-80;
		color: $white-100;
	}

	&--light {
		background-color: $white-100;
		color: $grey-100;
	}

}