@import './variables.scss';

body {
	background-color: #ECECEC;
	height: 100%;
	overflow: hidden;
}

*::selection {
	background: transparentize($yellow-100, 0.85);
	opacity: 0.1;
	text-decoration: 4px underline $yellow-100;
	text-underline: 2px solid $yellow-100
}

h1, h2, h3, h4, p, li, a, button, td {
	color: $black-100;
}
