.dark {
	background-color: $grey-100;

	.card {
		background-color: $grey-80;
		box-shadow: transparentize($grey-100, 0.9) 0 1px 0, transparentize($grey-100, 0.9) 0 8px 24px, transparentize($grey-100, 0.9) 0 16px 48px;
	}

	.heading {
		color: $white-100;
	}

	.tapper {

		&__background {
			background-color: $grey-100;
		}

		&__icon, .icon {

			&__path {
				fill: $white-100;
			}

		}

	}

	.text-input {
		border: 1px solid $silver-100;
		background-color: $grey-80;

		&__field {
			background-color: $grey-80;

			&::placeholder {
				color: $grey-40
			}

		}

	}

	.text-area {
		border: 1px solid $silver-100;
		background-color: $grey-80;

		&__field {
			background-color: $grey-80;

			&::placeholder {
				color: $grey-40
			}

		}

		&__fake-field {
			background-color: $grey-100;
			display: block;

			&::placeholder {
				color: $grey-40
			}

		}

	}

	.paragraph {
		color: $white-100;
	}

	.list-item {
		color: $white-100;
	}

	.notification {

		&__item {
			background-color: $grey-80;
		}

	}

	.navigation {
		background-color: $grey-80;

		&__link, .link {

			&--active {
				background-color: $grey-100;
			}

			&__label {
				color: $white-100;
			}

		}

	}

	.icon {

		&__connector, .connector {

			&__circle {
				stroke: $white-100;
			}

			&__path {
				fill: $white-100;
			}

		}

	}

	.brand {

		&__background {
			background-color: $grey-100;
		}

	}

	.logo {

		&__background {
			background-color: $grey-100;
		}

	}

	.quote {

		&__text {

			&::before,
			&::after {
				color: transparentize($white-100, 0.85) !important;
			}

		}

	}

	.button {
		background-color: $white-100;
		border: 1px solid $white-100;
		color: $grey-100;
	}

	.project-slider {

		&__slide, .slide {
			border: 1px solid $silver-100;
		}

		&__pagination, .pagination {
			display: flex;
			justify-content: center;

			&__bullet {
				border: 1px solid $grey-40;

				&--active {
					background-color: $grey-40;
				}

			}

		}

	}

	.music-player {

		&__visualizer-wrapper {
			border: 1px solid $silver-100;
		}

		&__details, .details {

			&__controller, .controller {
				background-color: $white-100;

				&__icon {
					height: 24px;

				}
			}

		}

	}

	.history {

		&__navigation, .navigation {

			&__item, .item {
				border: 1px solid $silver-100;

				&--active {
					border: 1px solid $silver-80;

					.logo {
						border-right: 1px solid $silver-80;
					}

				}

				&__logo {
					background-color: $grey-100;
					border-right: 1px solid $silver-100;
				}

			}

		}

	}

}

