/* COLORS */
$white-100: #FFFFFF;
$black-100: #000000;
$red-100: #DD0F0F;
$blue-100: #1077D5;
$blue-80: #4397E2;
$blue-60: #70B2EB;
$blue-40: #9CCCF4;
$blue-20: #C8E5FA;
$grey-100: #1A1A1A;
$grey-80: #333333;
$grey-60: #666666;
$grey-40: #ECECEC;
$grey-20: #F5F5F5;
$transparent-100: #FFFFFF00;
$transparent-80: #FFFFFF2F;
$transparent-60: #FFFFFF4F;
$transparent-40: #FFFFFF6F;
$transparent-20: #FFFFFF8F;